# The port the server should listen on.
PORT = "8080"

# The host address of the database.
DB_HOST = "mongodb://localhost/"
# The name of the database.
DB_NAME = "geofence"
# The username to use during authentication.
DB_USER = "root"
# The password to use during authentication.
DB_PASS = "secret"
